/* Step 2: Import the Reset */
@import url(./reset.css);
/* End of Reset */


/* Step 3: Import the Fonts */


@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Indie+Flower&family=Quicksand&family=Satisfy&display=swap');

/* End of Fonts */
* 
    /* outline: 1px dashed #ccc */



/* Step 4: Setup the Defaults */
/*html, body, main, header, section {
    height: 100%;
    scroll-behavior: smooth;
}

p {
    margin: 1.2em;
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

em {
font-size: italic;
}
body {
    font-family: 'Satisfy', cursive; 
}

/* End of Defaults */


/* Step 5: Design the Header */
header {
    background-image: url(./gryffyn-m-2v5xaXiZI3A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 288px;
    margin-bottom: 50px;
}

.main-header-titles {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #fff;
text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

 .main-header-titles h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 54pt;
    color:#FDFFCE;
}

 .main-header-titles h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 34pt;
    color: #FDFFCE;
}

body {
background-color: #483C32;
}

h3 {
    font-family: 'Satisfy', cursive;
    font-size: 26pt;
    color: #023020;
    display: flex;
flex-direction: column; 
    justify-content: center;
align-items: center;
margin-bottom: 50px;
}
img {
    width: 300px;
    float: left;

margin-right: 20px;
}

#main-div  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #023020;
    border-radius: 15px;
    padding: 1px;
    font-family: 'Josefin Slab', serif;
    font-size: 20pt;
    overflow: hidden;
    
}

.odd-p {
    background-color: #65081f;
    color: #FDFFCE;

}

#middle-p {
    color: #023020;
    background-image: url(./engin-akyurt-YouWp12gBCQ-unsplash.jpg);
}

p {
    text-indent: 10%;
line-height: 1.2;
}

#animate-charcter{
 background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
footer {
    color: #023020;
    font-family: 'Satisfy', cursive;
    font-size: 16;
    margin: 25px;

}

/* End of Header */


/* Step 6: Define the Nav */
/* #main-nav {
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, .5);
}
#main-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#main-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav ul li a {
    padding: 1.5em;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

#main-nav ul li a:hover {
    background-color:rgba(255, 255, 255, 0.25) ;
    transition: 0.5s;
} */

/* End of Nav */


/* Step 7: Define the Section Defaults */

/* End of Section Defaults */
 /*.main-section >h3 {
    font-size: 2.1em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    margin-bottom: 2em;
} */
/*.main-section:nth-child(odd) {
    background-color: aliceblue;
}
.main-section:nth-child(even) {
    background-color: #ccc;
}
/* Step 8: Design Section 1 */


/* End of Section 1 */




/* Step 9: Design Section 2 */

/*
figure > img {
    width: 100%;
}

cite {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}

cite > a {
    color: #ccc;
    text-decoration: none;
}

cite > a:hover {
    color: #fff;
}
/* End of Section 2 */


/* Step 10: Design Section 3 */

/* End of Section 3 */


/* Step 11: Design Section 4 */
/*#skills {
    width: 50%;
    margin: 0 auto;
}

#skills > li {
    width: 100%;
    background-color: #333;
    border-radius: 20px;
    margin-bottom: 1em;
    height: 40px;
    display: flex;
    overflow: hidden;
}

#skills > li > span {
    display: flex;
    align-items: center;
    background-color:tomato;
    content: "";
    padding: 0 1em;
    color: #fff;
}

#html {
    width: 50%;
}

#css {
    width: 10%;
}
#javascript {
    width: 0%;
}
#c-sharp {
    width:25% 
}










/* End of Section 4 */